<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find abb_resources)/urdf/common_materials.xacro"/>

  <xacro:macro name="abb_crb1920_16_196" params="prefix">
    <!-- link list -->
    <link name="${prefix}base_link">
      <collision>
        <geometry>
          <mesh filename="package://abb_crb1920_support/meshes/crb1920_16_196/collision/base_link.stl"/>
        </geometry>
      </collision>
      <visual>
        <geometry>
          <mesh filename="package://abb_crb1920_support/meshes/crb1920_16_196/visual/base_link.stl"/>
        </geometry>
        <xacro:material_abb_dark_gray />
      </visual>
    </link>
    <link name="${prefix}link_1">
      <collision>
        <geometry>
          <mesh filename="package://abb_crb1920_support/meshes/crb1920_16_196/collision/link_1.stl"/>
        </geometry>
      </collision>
      <visual>
        <geometry>
          <mesh filename="package://abb_crb1920_support/meshes/crb1920_16_196/visual/link_1.stl"/>
        </geometry>
        <xacro:material_abb_dark_gray />
      </visual>
    </link>
    <link name="${prefix}link_2">
      <collision>
        <geometry>
          <mesh filename="package://abb_crb1920_support/meshes/crb1920_16_196/collision/link_2.stl"/>
        </geometry>
      </collision>
      <visual>
        <geometry>
          <mesh filename="package://abb_crb1920_support/meshes/crb1920_16_196/visual/link_2.stl"/>
        </geometry>
        <xacro:material_abb_dark_gray />
      </visual>
    </link>
    <link name="${prefix}link_3">
      <collision>
        <geometry>
          <mesh filename="package://abb_crb1920_support/meshes/crb1920_16_196/collision/link_3.stl"/>
        </geometry>
      </collision>
      <visual>
        <geometry>
          <mesh filename="package://abb_crb1920_support/meshes/crb1920_16_196/visual/link_3.stl"/>
        </geometry>
        <xacro:material_abb_dark_gray />
      </visual>
    </link>
    <link name="${prefix}link_4">
      <collision>
        <geometry>
          <mesh filename="package://abb_crb1920_support/meshes/crb1920_16_196/collision/link_4.stl"/>
        </geometry>
      </collision>
      <visual>
        <geometry>
          <mesh filename="package://abb_crb1920_support/meshes/crb1920_16_196/visual/link_4.stl"/>
        </geometry>
        <xacro:material_abb_graphite_white />
      </visual>
    </link>
    <link name="${prefix}link_5">
      <collision>
        <geometry>
          <mesh filename="package://abb_crb1920_support/meshes/crb1920_16_196/collision/link_5.stl"/>
        </geometry>
      </collision>
      <visual>
        <geometry>
          <mesh filename="package://abb_crb1920_support/meshes/crb1920_16_196/visual/link_5.stl"/>
        </geometry>
        <xacro:material_abb_graphite_white />
      </visual>
    </link>
    <link name="${prefix}link_6">
      <collision>
        <geometry>
          <mesh filename="package://abb_crb1920_support/meshes/crb1920_16_196/collision/link_6.stl"/>
        </geometry>
      </collision>
      <visual>
        <geometry>
          <mesh filename="package://abb_crb1920_support/meshes/crb1920_16_196/visual/link_6.stl"/>
        </geometry>
        <xacro:material_abb_gray_white />
      </visual>
    </link>
    <!-- end of link list -->

    <!-- joint list -->
    <joint type="revolute" name="${prefix}joint_1">
      <origin xyz="0 0 0.157" rpy="0 0 0"/>
      <axis xyz="0 0 1"/>
      <parent link="${prefix}base_link"/>
      <child link="${prefix}link_1"/>
      <limit effort="0" lower="${radians(-360)}" upper="${radians(360)}" velocity="${radians(149)}"/>
    </joint>
    <joint type="revolute" name="${prefix}joint_2">
      <origin xyz="0.18 -0.082 ${0.3825-0.157}" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
      <parent link="${prefix}link_1"/>
      <child link="${prefix}link_2"/>
      <limit effort="0" lower="${radians(-180)}" upper="${radians(180)}" velocity="${radians(149)}"/>
    </joint>
    <joint type="revolute" name="${prefix}joint_3">
      <origin xyz="0 ${-0.058+0.082} ${1.3025-0.3825}" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
      <parent link="${prefix}link_2"/>
      <child link="${prefix}link_3"/>
      <limit effort="0" lower="${radians(-248)}" upper="${radians(80)}" velocity="${radians(230)}"/>
    </joint>
    <joint type="revolute" name="${prefix}joint_4">
      <origin xyz="${0.401-0.18} ${0.0601+0.058} 0" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <parent link="${prefix}link_3"/>
      <child link="${prefix}link_4"/>
      <limit effort="0" lower="${radians(-360)}" upper="${radians(360)}" velocity="${radians(283)}"/>
    </joint>
    <joint type="revolute" name="${prefix}joint_5">
      <origin xyz="${1.036-0.401} ${-0.0129-0.0601} 0" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
      <parent link="${prefix}link_4"/>
      <child link="${prefix}link_5"/>
      <limit effort="0" lower="${radians(-180)}" upper="${radians(180)}" velocity="${radians(300)}"/>
    </joint>
    <joint type="revolute" name="${prefix}joint_6">
      <origin xyz="${1.1119-1.036} ${-0.0779+0.0129} ${1.3825-1.3025}" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <parent link="${prefix}link_5"/>
      <child link="${prefix}link_6"/>
      <limit effort="0" lower="${radians(-400)}" upper="${radians(400)}" velocity="${radians(300)}"/>
    </joint>
    <!-- end of joint list -->

    <!-- ROS-Industrial 'base' frame: base_link to ABB World Coordinates transform -->
    <link name="${prefix}base" />
    <joint name="${prefix}base_link-base" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="${prefix}base_link"/>
      <child link="${prefix}base"/>
    </joint>

    <!-- ROS-Industrial 'flange' frame: attachment point for EEF models -->
    <link name="${prefix}flange"/>
    <joint type="fixed" name="${prefix}joint_6-flange">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="${prefix}link_6"/>
      <child link="${prefix}flange"/>
    </joint>

    <!-- ROS-Industrial 'tool0' frame: all-zeros tool frame -->
    <link name="${prefix}tool0" />
    <joint name="${prefix}flange-tool0" type="fixed">
      <origin xyz="0 0 0" rpy="0 ${radians(90)} 0" />
      <parent link="${prefix}flange" />
      <child link="${prefix}tool0" />
    </joint>
  </xacro:macro>
</robot>
